@mixin card-info-text {
    display: flex;
    flex-direction: column;
    gap: 4px;

    & > b {
        font-size: 1.2em;
        font-weight: 700;
    }
    & > span {
        font-size: 1.1em;
    }
}