$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-gray: #777;
$color-button-shadow: #999;

$section-background: lighten($color: #eee, $amount: 3%);

$inner-width: 90%;

$pad-min-width-br: 600px;
$pad-max-width-br: 1079px;

// used at /sass/layouts/_restaurant.scss
$menu-item-start-margin-value: 16%;
$menu-item-animation-delay: 250ms;

$menu-item-check-transition-duration: 450ms;

$loader-text-chars: ("o": #555, "m": $color-primary, "f": #555);
$loader-transition-duration: 1000ms;