// Define the gradient fill for the SVG heart
svg#heartgradient-svg {
    width: 0;
    height: 0;

    & > defs > linearGradient#heartgradient {

        & > stop {
            stop-color: $color-secondary;
            stop-opacity: 1;

            &:first-child {
                stop-color: $color-primary;
            }
        }
    }
}

button.cpn-buttonheart {
    position: relative;
    width: 35px;
    height: 31px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1.8em;
    color: #000;
    background-color: transparent;
    background-image: none;
    box-shadow: none;

    & > svg {
        position: absolute;
        top: 0;
        left: 2px;
        z-index: 2;
        width: 100%;
        max-width: 30px;

        transition: opacity 200ms 200ms;

        &:first-child {
            z-index: 1;

            & > path {
                fill:url(#heartgradient); // Defined in index.html at : section#home-restaurants-section > svg > defs > linearGradient#heartgradient
            }
        }
        & + canvas {
            // This canvas hide the purple heart, it translate to the top when the button is hovered or touched
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            background-color: #fff;

            transform: translateY(0);
            transition: transform 400ms;
        }
    }

    &:hover, &:active {

        & > svg:not(:first-child) {
            opacity: 0;
        }
        & > canvas {
            transform: translateY(-32px);
        }

    }

}