button {
    width: fit-content;
    margin: auto;
    padding: 4.7% 5.4%;
    display: block;
    border: medium none;
    border-radius: 2em;
    font-size: 1.02em;
    color: #fff;
    background-image: linear-gradient($color-secondary, $color-primary);
    box-shadow: 0 0.25em 0.6em $color-button-shadow;
    cursor: pointer;

    @media screen and (min-width: $pad-min-width-br) and (max-width: $pad-max-width-br) {
        padding: 3% 4.5%;
        font-size: 1.25em;
    }

    @media screen and (min-width: $desktop-min-width-br) {
        padding: 3.75% 5.25%;
    }

    &:hover {
        background-image: linear-gradient(lighten($color-secondary,  $amount: 2%), lighten($color-primary, $amount: 4%));
        box-shadow: 0 0.25em 0.8em darken($color: $color-button-shadow, $amount: 10%);
    }
}