header {
    height: 63px;

    @media screen and (min-width: $pad-min-width-br) and (max-width: $pad-max-width-br) {
        height: 93px;
    }
    @media screen and (min-width: $desktop-min-width-br) {
        height: 98px;
    }

    & > a {
        width: 90%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & > img {
            width: 49%;

            @media screen and (min-width: $pad-min-width-br) and (max-width: $pad-max-width-br) {
                width: 40%;
            }
            @media screen and (min-width: $desktop-min-width-br) {
                width: 28%;
                max-width: 370px;
            }
        }

    }

}

body.page > header > a {
    position: relative;

    & > i {
        position: absolute;
        left: 0;
        font-size: 1.4em;
    }
}