section#home-restaurants-section {
    padding: 10% 0 10% 0;
    background-color: $section-background;

    @media screen and (min-width: $pad-min-width-br) and (max-width: $pad-max-width-br) {
        padding: 8% 0 8% 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 5%; // TODO : supprimer le gap vertical
    }

    @media screen and (min-width: $desktop-min-width-br) {
        padding: 2% 0 2% 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 0 5%;
    }

    & > h2 {
        margin-bottom: 5.9%;

        @media screen and (min-width: $pad-min-width-br) and (max-width: $pad-max-width-br) {
            margin-bottom: 4.9%;
        }
        @media screen and (min-width: $desktop-min-width-br) {
            width: 100%;
            margin: 0 auto 3% auto;
            text-align: center;
        }
    }

    & > div.home-restaurants-section__item {
        position: relative;
        width: 90%;
        margin: 0 auto 5% auto;

        @media screen and (min-width: $pad-min-width-br) and (max-width: $pad-max-width-br) {
            width: 40%;
            margin: 0 0 5% 0;
        }
        @media screen and (min-width: $desktop-min-width-br) {
            width: 30%;
            max-width: 420px;
            margin: 0 0 5% 0;
        }

        & > span.home-restaurants-new {
            position: absolute;
            top: 4%;
            right: 6%;
            padding: 1.5% 3% 1% 3%;
            color: darken($color: $color-tertiary, $amount: 40%);
            font-weight: 600;
            background-color: $color-tertiary;
            border-radius: 0.25em;

            @media screen and (min-width: $desktop-min-width-br) {
                font-size: 0.85em;
            }
        }

        & > a.home-restaurants-section__item__img {
            height: 180px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            overflow: hidden;
            border-radius: 1.2em 1.2em 0 0;

            @media screen and (min-width: $desktop-min-width-br) {
                height: 220px;
            }

            &--vertical-img {
                flex-flow: column wrap;
            }

            > img {
                width: 100%;
                display: block;

                @media screen and (min-width: $desktop-min-width-br) {
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

        }

        div.home-restaurants-section__item__info {
            padding: 4% 6% 4% 4%;
            display: flex;
            justify-content: space-between;
            justify-content: space-between;
            align-items: start;
            background-color: #fff;
            border-radius: 0 0 1.2em 1.2em;
            box-shadow: 0 0.25em 0.6em lighten($color: $color-button-shadow, $amount: 20%);

            & > a {
                @include card-info-text;
            }

        }

        &:hover {

            div.home-restaurants-section__item__info > a > b {
                color: $color-primary;
            }

        }
    }
}