main.restaurant {
    padding-bottom: 14%;
    background-color: $section-background;

    & > div.restaurant-cover {
        height: 280px;
        overflow: hidden;

        & > img {
            width: 100%;
            display: block;
        }
    }

    & > div.restaurant-header {
        width: 100%;
        margin: -12% auto 8% auto;
        padding-top: 4%;
        display: flex;
        justify-content: space-between;
        background-color: $section-background;
        border-radius: 2em 2em 0 0;
        position: relative;

        & > div.restaurant-header-inner {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & > h1.restaurant-header__h1 {

                font-family: "Shrikhand", arial, sans-serif;
                font-size: 2em;

            }

            & > button.cpn-buttonheart > svg + canvas {

                background-color: $section-background;

            }

        }
    }

    & > section {
        width: $inner-width;
        margin: 0 auto 10% auto;

        & > h3 {
            margin-bottom: 4%;
            text-transform: uppercase;

            &::after {
                width: 11%;
                padding-top: 1%;
                display: block;
                border-bottom: 3px solid #99E2D0;
                content: "";
            }
        }

        & > div.restaurant-menu__item {
            position: relative;
            width: 100%;
            height: 80px;
            margin: 0 auto 4% auto;
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            border-radius: 1.25em;
            box-shadow: 0 0.25em 0.6em lighten($color: $color-button-shadow, $amount: 20%);
            opacity: 0;
            overflow: hidden;
            cursor: pointer;
            transform: translateY($menu-item-start-margin-value);

            @for $i from 1 through 3 {

                &--#{$i} {

                    animation-name: menu-item-start-margin;
                    animation-duration: 800ms;
                    animation-fill-mode: forwards;
                    animation-delay: $menu-item-animation-delay * $i;
                    animation-timing-function: ease-out;

                }

            }

            & > div.restaurant-menu__item__info {
                width: 92%; // we remove the sum of the 2 lateral padding width : 100% - (2 * 4%)
                height: 100%;
                padding: 0 4%;

                @include card-info-text;
                justify-content: center;
                background-color: #fff;

                transition: width $menu-item-check-transition-duration;

                & > span {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    & > i {
                        width: 81%;
                        font-size: 0.9em;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    & > b {
                        font-weight: 600;
                    }

                }
            }

            & > div.restaurant-menu__item__check {
                width: 0;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: $color-tertiary;
                border-radius: 0 1.25em 1.25em 0;

                transition: width $menu-item-check-transition-duration;

                & > i {
                    font-size: 1.6em;
                    color: #fff;

                    transform: rotate(280deg);
                    transition: transform $menu-item-check-transition-duration ease 150ms;
                }

            }

            &:hover {

                & > div.restaurant-menu__item__info {

                    width: 72%;

                }

                & > div.restaurant-menu__item__check {
                    //transform: translateX(0);
                    width: 18%;

                    & > i {
                        transform: rotate(0);

                    }
                }
            }

        }
    }

    & > div#order-button-wrapper {

        & > button {

            padding: 3.4% 10%;

        }

    }

}