main.lyt-restaurant {
    padding-bottom: 14%;
    background-color: $section-background;

    & > div.restaurant-header {
        position: relative;
        width: 100%;
        height: fit-content;
        margin-bottom: 10%;

        & > div.restaurant-cover {
            height: 300px;

            & > img {
                width: 100%;
                height: 280px;
                display: block;
                object-fit: cover;

            }
        }

        & > div.restaurant-header-content {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: $section-background;
            border-radius: 2em 2em 0 0;
            border-radius: 2.2em 2.2em 0 0;

            & > div.restaurant-header-content-inner {
                width: 90%;
                margin: 0 auto;
                padding-top: 6%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                & > h1 {

                    font-family: "Shrikhand", arial, sans-serif;
                    font-size: 1.8em;

                }

                & > button.cpn-buttonheart > svg + canvas {

                    background-color: $section-background;

                }

            }

        }

        & > canvas.restaurant-header__background {
            display: none;
        }
    }

    & > section {
        width: $inner-width;
        margin: 0 auto 10% auto;

        & > h3 {
            margin-bottom: 4%;
            text-transform: uppercase;

            &::after {
                width: 11%;
                padding-top: 1%;
                display: block;
                border-bottom: 3px solid #99E2D0;
                content: "";
            }

        }

        & > div.restaurant-menu__item {
            position: relative;
            width: 100%;
            height: 80px;
            margin: 0 auto 4% auto;
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            border-radius: 1.25em;
            box-shadow: 0 0.25em 0.6em lighten($color: $color-button-shadow, $amount: 20%);
            opacity: 0;
            overflow: hidden;
            cursor: pointer;
            transform: translateY($menu-item-start-margin-value);

            @for $i from 1 through 10 { // We asume that there will be never more than 10 dish in a category

                &--#{$i} {

                    animation-name: menu-item-start-margin;
                    animation-duration: 800ms;
                    animation-fill-mode: forwards;
                    animation-delay: $menu-item-animation-delay * $i;
                    animation-timing-function: ease-out;

                }

            }

            & > div.restaurant-menu__item__info {
                width: 92%; // we remove the sum of the 2 lateral padding width : 100% - (2 * 4%)
                height: 100%;
                padding: 0 4%;

                @include card-info-text;
                justify-content: center;
                background-color: #fff;

                transition: width $menu-item-check-transition-duration;

                & > span {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    & > i {
                        width: 81%;
                        font-size: 0.9em;
                        @include text-overflow;
                    }
                    & > b {
                        font-weight: 600;
                    }

                }
            }

            & > div.restaurant-menu__item__check {
                width: 0;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: $color-tertiary;
                border-radius: 0 1.25em 1.25em 0;

                transition: width $menu-item-check-transition-duration;

                & > i {
                    font-size: 1.6em;
                    color: #fff;

                    transform: rotate(280deg);
                    transition: transform $menu-item-check-transition-duration ease 150ms;
                }

            }

            &:hover {

                & > div.restaurant-menu__item__info {
                    width: 72%;

                }

                & > div.restaurant-menu__item__check {
                    width: 18%;

                    & > i {
                        transform: rotate(0);
                    }
                }
            }

        }
    }

    & > div#order-button-wrapper {

        & > button {
            padding: 3.4% 10%;

        }

    }

}

// Adaptative style for small phone like Galaxy fold
@media screen and (max-width: $smallphone-max-width-br) {
    main.lyt-restaurant {

        & > div.restaurant-header > div.restaurant-header-content > div.restaurant-header-content-inner {

            & > h1 {
                font-size: 1.4em;
            }

            & > button.cpn-buttonheart > svg {
                left: 6px;
                width: 75%;
            }

        }

        & > section > div.restaurant-menu__item > div.restaurant-menu__item__info {

            & > b {
                font-size: 1em;
            }

            & > span > i {
                width: 71%;
            }
        }

    }

}

// Adaptative style for Pad
@media screen and (min-width: $pad-min-width-br) and (max-width: $pad-max-width-br) {
    main.lyt-restaurant {

        & > div.restaurant-header {

            & > div.restaurant-cover {
                height: 450px;

                & > img {
                    height: 430px;
                }
            }

            & > div.restaurant-header-content > div.restaurant-header-content-inner {
                padding-top: 3%;

                & > h1 {
                    font-size: 2em;
                }
            }

        }

        & > section {
            margin: 0 auto 6% auto;
            display: flex;
            flex-flow: row wrap;

            & > h3 {
                width: 100%;
                text-align: center;

                &::after {
                    width: 14%;
                    margin: 0 auto;
                }

            }

            & > div.restaurant-menu__item {
                width: 48%;
            }

            /*
            & > div.restaurant-menu__item {

                & > div.restaurant-menu__item__info {
                    width: fit-content;
                    min-width: 60%;
                    margin: 0 auto;
                    padding: 0;
                    transform: translateX(13%); // (100% - 60% - 14%) / 2
                }

                & > div.restaurant-menu__item__check {
                    width: 14%;
                    transform: translateX(100%);
                    transition: transform $menu-item-check-transition-duration;

                }

                &:hover {

                    & > div.restaurant-menu__item__info {
                        width: fit-content;
                    }

                    // On a pad with a resolution with above 600px, we don't resize the width, we just translate from right to left
                    & > div.restaurant-menu__item__check {
                        width: 14%;
                        transform: translateX(0);
                    }
                }

            }
            */
        }

        & > div#order-button-wrapper {

            & > button {
                padding: 2.8% 7.25%;
            }

        }
    }
}

// Adaptative style for Desktop
@media screen and (min-width: $desktop-min-width-br) {
    main.lyt-restaurant {
        padding-bottom: 10%;
        justify-content: space-evenly;

        & > div.restaurant-header {
            margin-bottom: 6%;

            & > div.restaurant-cover {
                height: fit-content;

                & > img {
                    width: 60%;
                    height: 300px;
                    margin: 0 auto;
                }
            }

            & > div.restaurant-header-content {
                left: calc((100% - 60%) /2);
                width: 60%;
                margin: 0 auto;

                & > div.restaurant-header-content-inner {
                    padding-top: 1%;
                }

            }

            & > canvas.restaurant-header__background {
                position: absolute;
                top: 0;
                z-index: 2;
                width: calc((100% - 60%) / 2);
                height: 100%;
                display: block;
                background-image: linear-gradient(90deg, lighten($color: $color-primary, $amount: 30%) 0%, rgba(255, 255, 255, 1) 100%);
                border-bottom: 2px solid #ccc;

                &--left {
                    left: 0;
                }
                &--right {
                    right: 0;
                    transform: rotate(180deg);
                }
            }
        }

        & > section {
            width: 30%;
            max-width: 475px;
            margin: 0 0 6% 0;

            & > h3 {
                padding-left: 3.25%;

                &::after {
                    width: 100%;
                }
            }

            & > div.restaurant-menu__item {

                & > div.restaurant-menu__item__info  > b {
                    font-size: 0.9em;
                    @include text-overflow;
                }

                & > div.restaurant-menu__item__check > i {
                    font-size: 1.2em;
                }

            }
        }

        & > div#order-button-wrapper {
            width: 100%;

            & > button {
                padding: 1.8% 6%;
            }

        }
    }
}