$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-gray: #777;
$color-button-shadow: #999;

$section-background: lighten($color: #eee, $amount: 3%);

$inner-width: 90%;

$menu-item-check-transition-duration: 450ms; // @see /sass/layouts/_restaurant.scss